body {
    font-family: 'Arial', sans-serif;
    background: #F5F5F5;
    color: #333;
    line-height: 1.6;
}

h1, h2 {
    color: #444;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    cursor: pointer;
}

#items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    width: calc(50% - 20px);
    transition: all 0.3s ease;
}

.item:hover {
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.1);
}

.description, .timestamp, .tags {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background: #444;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.tag:hover {
    background: #777;
}

.active {
    background: #007BFF;
}

#filter-tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#about {
    text-align: center;
    color: #007BFF;
    cursor: pointer;
}
